@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Major%20Mono%20Display);
/*
#dad9d5:grey
#988345:gold
#1A2238:navy
*/
/*--------------------------------------------------------------
# general styling
--------------------------------------------------------------*/
*, *::before, *::after {
  margin: 0;
  
}

/*--style and make the logo active link--*/
h1 > a {
  text-decoration: none;
  color: #383a3c;
}
/* #text-logo {
  margin-top: -5em;
  margin-left: 2.5rem;
} */
/* @media screen and (max-width: 600px) {
  #text-logo {
    display: block;
  }
  #text-logo img{
    display: block;
  }

} */
#text-logo img{
  width: 5em;
}
/* .logo-box {
  padding: 3px;
  width: 3em;
  height:3em;
  border: 4px solid;
  margin-right: 0;
} */
* body {
  background-color: #f5cf46;
  color: #383a3c;
  font-family: 'Lato',sans-serif;
}  
header {
  font-family: 'Bitter',sans-serif;
  padding: 32px;
}
/*--style navigation bar--*/
.navbar{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
}
.nav-list a{
  display: inline-block;
  text-decoration: none;
  color: #383a3c;
  padding: 20px;
  font-size: 1.2em;
}
.nav-list a:hover{
  opacity: 0.7;
}
/*--------------------------------------------------------------
# homepage
--------------------------------------------------------------*/
/*main*/
/*--style navigation bar of the index page--*/
#nav-home {
  color:  #383a3c;
  background-color: #e1e1e1;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
  }
#nav-list-index a{
  color: #383a3c;
}
/*--main part of index body--*/
.homepage-container {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10px;
  align-content: center;
  justify-content: center;
  
}

#introduction {
  text-decoration: none;
  text-align: right;
  padding-top: 3em;
  margin: 0;
  align-self: auto; 
  font-size: 3.8em;
}
@media screen and (max-width: 600px) {
  .homepage-container  {
    grid-template-columns: repeat(1,1fr);
  }
  #introduction {
    font-size: 2em;
    text-align: center;
  }
}
#intro-box {
  background-color:  #383a3c;
  color: #e1e1e1;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}

#homepage-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*--------------------------------------------------------------
# general styling for about and courses page
--------------------------------------------------------------*/

#nav-about,#nav-course{
  background-color: #f5cf46;
  color: #1c1d1e;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}
/* --change logo color--
.change-color {
  color: #f5cf46;
}   */
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-color: #e1e1e1;
}
.nav-bar {
  color:  #383a3c;
}
.about-title {
  font-family: 'Bitter', sans-serif;
  font-weight: bolder;
  font-size: 2.4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  margin: 40px 40px 40px 40px;
  padding: 20px;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); */
  font-size: 1.4rem;
  border-radius: 20px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.grid-item-1 {
  display: flex;  
  margin-left: 3em;
  position: relative; 
  align-self: center;
  width: 60%; 
  overflow: hidden; 
  border-radius: 50%; 
} 
.grid-item-1::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.circle-avatar__img {
  position: absolute;
  /* margin-left:-0.2em;
  margin-top: -0.2em; */
  width: 110%;
}
@media screen and (max-width: 600px) {
  .grid-container  {
    grid-template-columns: repeat(1,1fr);
    grid-template-areas:  "grid-item-1" "grid-item-2";
  }
  .grid-item-1 {
    margin-left: 1em;
    width: 80%;
    align-self: center;

  }
}

/* .grid-item-2 {
  grid-row: 1 / span 2;
  grid-column: 2;
} */
.grid-info {
  line-height: 180%;
}
.about-title {
  color: #1c1d1e;
  margin: 0.5em 0em;
}
/* .about-title::after{
  display: block;
  content: "";
  border-bottom: 0.3vw solid #f4b016;
  width: 4vw;
} */
blockquote {
  position: relative;
  align-self: center;
  font-family: 'Tahoma', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1em;
  margin-left: 3em;
  letter-spacing: 0.08vw;
  opacity: 0.9;
  font-style: italic; 
  width: 82%;
  line-height: 120%;
  
  
}
cite {
  font-size: 1.5rem;
}
blockquote p::before {
  content: "“";
  position: absolute;
  font-family: Georgia;
  font-size: 5.5rem;
  margin-top: 0.2em;
  margin-left: -0.5em;
  opacity: 0.8;

}

blockquote p::after {
  content: "”";
  font-family: Georgia;
  position: absolute;
  font-size: 5.5rem;
  margin-top: 0.2em;
  opacity: 0.8;
}

#skill-wrapper{
  font-size: 1.5rem;
  width: 80%;
  height: auto;
}

.skill {
  position: relative;
}
.skill > p {
  padding: 1.5vh;
  margin-bottom: -1vh;
}

.skill-bar {
  width: 100%;
  height: 0.4rem;
  background:#f5cf46;
  position: relative;
}

.skill-bar span {
  position: absolute;
  margin-top: -1.3em;
  font-size: 90%;
}
  
.skill-count1,.skill-count2,.skill-count3 {
  right: 0;
}
.skill1 {
  width: 95%;
}
.skill2 {
  width: 85%;
}
.skill3{
 width: 75%;
}
/*-----------get in touch section-----------*/
.about-contact-container {
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 5vw;
}
/*email, phone number*/
#contact-title {
  /* color: #e1e1e1; */
  font-size: 2.4rem;
  font-family: 'bitter',sans-serif;
  margin: 0.5em 0em;
}
/* #contact-title::after {
  display: block;
  content: "\a";
  border-bottom: 0.3vw solid #f5cf46;
  width: 9%;
  margin-left: 45.5%;
} */
#about-name {
  letter-spacing: 0.3em;
  font-family: 'Bitter',sans-serif;
  color: #f5cf46;
  align-self: center;
  font-size: 1.7rem;
  margin-bottom: 0.1em;
}
.about-contact-container > a, .about-contact-container p {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  margin-bottom: -0.4rem;
  color: #686868;
  text-decoration: none;
  padding: 6px;
}

/*--style linkedin, instagram, resume links--*/
.about-contact-container a {
  display: inline-block;
  text-decoration: none;
  color: #686868;
}
.contact-flex-item > span {
  margin: 0 3em 0 3em;
}
.contact-item {
  display: block;
  font-size: 1.3rem;
  margin-top: -1em;
  margin-left: -3em;
  font-family: 'Lola', sans-serif;
}
/*--style linkedin, instagram, resume logo--*/
span img {
  position: absolute;
  margin-top: -0.3em;
  margin-left: 0.1em;
  width: 1.6em;
}

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
/*style search bar*/
#course {
  background-color: #e1e1e1;
}
.nav-bar {
  color:  #383a3c;
}
      
.search-form-field {
  background-color: #bfbfbf;
  border: none;
  width: 40vw;
  height: 2.8em;
  border-radius: 5px;
  padding: 0;
}
.search-form-button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#search-icon {
  position: absolute;
  width: clamp(35px,2.2vw,50px);
  /* height: 100%; */
  margin-top: -1.7em;
  margin-left: -4.2em;;
}

/*main*/

/*dropdown list*/
select {
  background-color: #bfbfbf;
  border-radius: 4px;
  display: inline-block;
  padding: 0.35em 1.5em 0.35em 1.1em;
  float: right;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 0.5pt solid #0c2431;
  font-size: 1.1em;
}
select:hover{
  cursor: pointer;
}

/*course-grid*/
.course-grid {
  font-family: 'Lola',sans-serif;
  font-size: 1.3rem;
  display: grid;
  clear: right;
  grid-template-columns: 1fr 1fr 1fr;
}
/*--adjust the grid container to 1 column if the screen <=600px--*/
@media screen and (max-width: 600px) {
  .course-grid {
    grid-template-columns: repeat(1,1fr);
  }
}
@media screen and (max-width: 900px) and (min-width: 601px) {
  .course-grid {
    grid-template-columns: repeat(2,1fr);
  }
}
/*--Style grid items--*/
ul {
  list-style-type: none;
}
.course-grid-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  line-height: 150%;
  padding: clamp(20px,3vw,50px);
  border-radius: 10px;
  justify-content: center;
}
.course-grid-item:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color:#f1f1f1;
}
.course-grid-item-figure {
  min-width:100%;
  height: 25rem;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1em;
}
.course-grid-item-media {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.course-grid-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course-grid-item-top {
  font-size: 1.6rem;
}
.course-grid-item-title {
  margin-bottom: 0.5em;
  line-height: 140%;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Bitter',sans-serif;
}
.course-grid-item-level{
  font-style: italic;
  display: flex;
  align-self: flex-end;
}

.item-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
/*Back to top button*/
.back-to-top-wrapper a {
  display: inline-block;
  text-decoration: none;
  color: #0c2431;
  padding: 10px;
}
.back-to-top-link{
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #aeada9;
  opacity: 0.8;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}